fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
requests

langchain
langchain-core
langchain-huggingface
langchain-chroma
langchain-community
langchain-google-genai
langchain-text-splitters
chromadb
pypdf
sentence-transformers

crewai
